<html>
<header>
    <link href="/css/css.css" rel="stylesheet"/>
</header>
<body>
<h1> Welcome to express-auth0-socketio </h1>
<h2 class="room-name"></h2>
<img src="#" alt="" class="user-picture"/>
<div class="user-displayName"></div>
<div class="user-nickname"></div>
<div class="user-provider"></div>

<div class="content">
    <div class="status"></div>

    <a href="/">public pages</a>
    <a href="/logout">log out</a>
    <br>
    <a onclick="return msgMe();" href="javascript:void(0);">send something</a>

    <div class="msg-sent">message sent</div>
    <div class="msg-rcvd">response received</div>

    <a onclick="return broadcast();" href="javascript:void(0);">send
        broadcast</a>

    <div class="broadcast-messages"></div>

    <div>
        <h4>jwt token</h4>
        <p>There are 3 timeouts here. The auth timeout, held by Auth0. The JWT
            timeout, which ios configured in .env, as JWT_TOKEN_TIMEOUT, and an
            authorization ping, which verifies the token, held in .env
            JWT_AUTH_INTERVAL</p>
        <p>JWT_TOKEN_TIMEOUT=<span class="jwt-token-timeout"></span></p>
        <p>JWT_AUTH_INTERVAL=<span class="jwt-auth-interval"></span></p>
    </div>

</div>
<div id="log-wrapper">
    <div id="log"></div>
</div>
<script src="/js/socket.io-client/socket.io.js"></script>
<script src="/js/jquery/dist/jquery.min.js"></script>
<script src="/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/sprintf/dist/sprintf.min.js"></script>
<script src="/js/lodash/lodash.js"></script>
<script src="/my-js/ms.js"></script>
<script src="/my-js/loggingThing.js"></script>
<script src="/my-js/domManipulation.js"></script>
<script src="/my-js/connectWithSocket.js"></script>
<script>

    var jwt_token = "<%= jwt_token %>";
    var connected = false;
    var authIntervalAsString = "<%= auth_interval %>";
    var authInterval = parse(authIntervalAsString, {default: '5min'});
    var jwtTimeout = "<%= jwt_timeout %>";
    var user_picture = "<%= user_picture%>";
    var user_displayName = "<%= user_displayName%>";
    var user_nickname = "<%= user_nickname%>";
    var user_provider = "<%= user_provider%>";
    var userRoom ;
    var socket;

    connectWithSocket();
    var msgMe = function () {
        socket.emit('something', {token: jwt_token});
        userMessage('>> "something"');
        $('.msg-sent').addClass('ping');
    };

    var broadcast = function () {
        socket.emit('broadcast-cyrano:server', {
            message: 'some message',
            token: jwt_token
        });
        userMessage('>> "broadcast-cyrano:server". check out server logs');
        $('.broadcast').addClass('ping');
    };



    domManipulation();

</script>
</body>
</html>
